# Environnement virtuel
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log

# Fichiers média générés
Ex2/media/

# Fichiers IDE
.vscode/
.idea/

# Fichiers système
.DS_Store
Thumbs.db